@media only screen and (max-width: 600px) {
.checkout-spec-oo {
    text-align: center;
    opacity: .99;
    z-index: 10000;	
	line-height: 1.2!important;
	max-width:550px;
}
}
@media only screen and (min-width: 600px) {
.checkout-spec-oo {
    text-align: center;
    opacity: .99;
    z-index: 10000;
	line-height: 1.2!important;
	max-width:600px;
}
}

@media only screen and (min-width: 600px) {
.buttoncostyle {
width:60%!important;
padding-top:10px;
padding-bottom:10px;
}
}
@media only screen and (max-width: 600px) {
.buttoncostyle {
width:90%!important;
padding-top:10px;
padding-bottom:10px;	
}
}

.wp-die-message, p {
line-height: 1.2!important;		
}

.editor-icon-right{
float:right!important;
padding-right:10px!important;	
}

.btn-opt1 {
    color: #fff!important;
    background-color: #268cbe!important;
    width: 130px!important;
    float: left!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
}
.btn-opt2 {
    color: #fff!important;
    background-color: #bb4b49!important;
    width: 130px!important;
    float: right!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
}
.btn-opt3 {
    color: #fff!important;
    background-color: #B45303!important;
    width: 130px!important;
    float: left!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
}
.button-cont{
width:335px;	
}
.del-opt2-btn {
    color: #fff!important;
    background-color: #bb4b49!important;
    width: 130px!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
}
.options-box-9 {
    width: 250px!important;
    font-size: 16px!important;
    line-height: 1.625!important;
}
.btn-opt1l {
    color: #fff!important;
    background-color: #268cbe!important;
    width: 130px!important;
    float: left!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
	margin-right: 8px!important;	
}
.btn-opt2l {
    color: #fff!important;
    background-color: #bb4b49!important;
    width: 130px!important;
    float: left!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
	margin-right: 8px!important;	
}
.btn-opt3l {
    color: #fff!important;
    background-color: #B45303!important;
    width: 130px!important;
    float: left!important;
    text-align: center!important;
	font-size: 14px!important;
    font-weight: 600!important;
    padding-top: 11px!important;
    padding-bottom: 11px!important;
    padding-left: 16px!important;
    padding-right: 16px!important;
    border-radius: 5px!important;
	margin-right: 8px!important;	
}
.button-contl{
width:600px;	
}